CREATE TABLE IF NOT EXISTS users (
    id            SERIAL PRIMARY KEY,
    email         VARCHAR(100)  NOT NULL UNIQUE,
    username      VARCHAR(15)   NOT NULL UNIQUE,
    password_hash VARCHAR(255)  NOT NULL,
    role          VARCHAR(10)[] NOT NULL DEFAULT '{user}',
    created_at    TIMESTAMP DEFAULT NOW()
);


INSERT INTO users (email, username, password_hash, role, created_at)
VALUES (
    '{{ db_vars.INITIAL_USER_EMAIL }}',
    '{{ db_vars.DB_USER }}',
    '{{ db_vars.INITIAL_USER_PASSWORD_HASH }}',
    ARRAY['user, admin'],
    NOW()
)
ON CONFLICT (email) DO NOTHING;
