CREATE TABLE IF NOT EXISTS users (
    id            SERIAL PRIMARY KEY,
    email         VARCHAR(100)  NOT NULL UNIQUE,
    username      VARCHAR(15)   NOT NULL UNIQUE,
    password_hash VARCHAR(255)  NOT NULL,
    role          VARCHAR(10)[] NOT NULL DEFAULT '{user}',
    created_at    TIMESTAMP DEFAULT NOW()
);


INSERT INTO users (email, username, password_hash, role, created_at)
VALUES (
    '{{ db_vars.INITIAL_USER_EMAIL }}',
    '{{ db_vars.DB_USER }}',
    '{{ db_vars.INITIAL_USER_PASSWORD_HASH }}',
    ARRAY['user', 'admin'],
    NOW()
)
ON CONFLICT (email) DO NOTHING;

CREATE TYPE game_status AS ENUM ('IN_PROGRESS', 'WON', 'LOST', 'ABANDONED');

CREATE TABLE games (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    user_id INTEGER NOT NULL REFERENCES users(id) ON DELETE CASCADE,
    word_to_guess VARCHAR(10) NOT NULL,
    max_attempts INT NOT NULL DEFAULT 6,
    guesses JSONB NOT NULL DEFAULT '[]'::jsonb,
    status game_status NOT NULL DEFAULT 'IN_PROGRESS',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);
