INSERT INTO users (email, username, password_hash, role, created_at)
VALUES (
    '{{ db_vars.INITIAL_USER_EMAIL }}',
    '{{ db_vars.DB_USER }}',
    '{{ db_vars.INITIAL_USER_PASSWORD_HASH }}',
    ARRAY['user, admin'],
    NOW()
)
ON CONFLICT (email) DO NOTHING;
