apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: {{ prometheus_url | default('http://localhost:9090') }}
    isDefault: true
    jsonData:
      httpMethod: POST
      timeInterval: 15s
    editable: true
